.myfont{
    font-family: 'Courier New', Courier, monospace
}
.mysubfont{
    font-family: Arial, Helvetica, sans-serif;
    color: azure !important;
}
.myimg{
    width: 50% !important;
}
.myitalics{
    font-style: italic;
}